<% html_title(l(:label_language_title)) %>

<div class="contextual">
  <%#= link_to l(:label_new_languaje), add_new_language_path class: 'icon icon-plus' %>
</div>

<h2>
  <%= l(:label_language_title) %>
</h2>
