/**********************************************************************/
/* ICONS
/**********************************************************************/
#admin-menu a.languages { background-image: url(../images/languages.png); }

/**********************************************************************/
/* LANGUAGES AND LABELS LIST
/**********************************************************************/

.language-content { margin-top: 10px; height: 55vh; overflow-y: auto; }
.language-content input { font-size: 11px; width: 300px; }